<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>热点一览</title>
    <link rel="icon" href="./icon/favicon.png">
    <link rel="stylesheet" href="index.css">

    <!-- 引入element-ui样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入element-ui组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 引入axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- 引入 Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

</head>

<body>
<!-- 创建一个根元素 -->
<div class="home" id="home">
    <header>
        <!-- 天气显示 -->
        <a href="#" target="_blank"  class="weather-link">
            <div class="weather-display">
                <span id="weather-city"></span>
                <span id="weather-icon"></span>
                <span id="weather-condition"></span>
                <span id="weather-temp"></span>
            </div>
        </a>
        <div class="time-display">
            <span id="beijing-time"></span>
            <span id="week-day"></span>
        </div>
        <!--切换主题-->
        <button id="theme-toggle" class="theme-toggle">
            <span id="theme-icon" @click="toggleTheme">🌞</span> <!-- 默认显示太阳图标 -->
        </button>
    </header>

    <div class="container">
        <div class="list-wrapper">
            <div class="hot-list-card" v-for="(platform, index) in platforms" :key="index">
                <div class="list-header">
                    <div class="logo" :class="platform.logoClass"></div>
                    <span class="list-title">{{ platform.name }}</span>
                </div>
                <div class="list-content">
                    <div v-if="platform.isLoading" class="loading">
                        数据加载中...
                    </div>
                    <div v-else-if="platform.error" class="error">
                        数据加载失败，请刷新重试。
                    </div>
                    <div v-else>
                        <div class="list-item" v-for="(item, itemIndex) in platform.hotList" :key="itemIndex">
    <span class="rank" :class="{
        'top1': item.hotRank === 1,
        'top2': item.hotRank === 2,
        'top3': item.hotRank === 3
    }">{{ item.hotRank }}</span>
                            <a :href="item.hotUrl" target="_blank" class="item-title" :title="item.hotTitle">
                                {{ item.hotTitle.length > 30 ? item.hotTitle.substring(0, 30) + '...' : item.hotTitle }}
                            </a>
                            <span class="score">{{ formatHotValue(item.hotValue) }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        vm.init();
        updateTime();
        setInterval(updateTime, 1000);
        // 页面加载时检查本地存储的主题设置
        checkLocalStorageTheme();
        // 获取用户地理位置并显示天气
        getUserLocation();
    }

    function getUserLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                position => {
                    const latitude = position.coords.latitude;
                    const longitude = position.coords.longitude;
                    console.log('获取地理位置成功：', latitude, longitude)
                    // 将经纬度转换为adcode
                    getWeatherByAdcode(latitude, longitude);
                },
                error => {
                    console.error('获取地理位置失败', error);
                    // 可以在这里提供一个默认的地理位置或者提示用户手动输入
                }
            );
        } else {
            console.error('浏览器不支持地理位置获取');
        }
    }

    function getWeatherByAdcode(latitude, longitude) {
        // 获取adcode
        axios.get('http://117.72.117.19:9782/Weather/getWeather', {
            params: {
                latitude: latitude,
                longitude: longitude
            }
        })
            .then(response => {
                console.log('解析返回：', response)
                const weatherData = response.data.data;
                // 更新天气显示
                updateWeatherDisplay(weatherData);
            })
    }

    function updateWeatherDisplay(weatherData) {
        document.getElementById('weather-city').textContent = weatherData.city;
        document.getElementById('weather-icon').textContent = getWeatherIcon(weatherData.weather);
        document.getElementById('weather-condition').textContent = weatherData.weather;
        document.getElementById('weather-temp').textContent = weatherData.temperature + '℃';

        // 设置跳转链接
        const weatherLink = document.querySelector('.weather-link');
        weatherLink.href = `https://tianqi.qq.com/?province=${encodeURIComponent(weatherData.province)}&city=${encodeURIComponent(weatherData.city)}`;
    }

    // 根据天气状况返回对应的图标
    function getWeatherIcon(condition) {
        const weatherIcons = {
            '晴': '☀️',
            '多云': '⛅',
            '阴': '☁️',
            '小雨': '🌦️',
            '大雨': '🌧️',
            '雪': '❄️'
        };
        return weatherIcons[condition] || ''; // 如果没有匹配的图标，返回空字符串
    }

    function updateTime() {
        const now = new Date();
        const beijingTime = now.toLocaleString('zh-CN', {timeZone: 'Asia/Shanghai'});
        document.getElementById('beijing-time').textContent = `${beijingTime}`;

        const weekDay = now.toLocaleString('zh-CN', {weekday: 'long'});
        document.getElementById('week-day').textContent = `${weekDay}`;
    }

    function checkLocalStorageTheme() {
        const savedTheme = localStorage.getItem('appTheme');
        if (savedTheme === 'dark') {
            document.body.classList.add('dark-theme');
            document.getElementById('theme-icon').textContent = '🌙';
        }
    }

    // 将vue挂载到id为home的根元素上
    const vm = new Vue({
        el: '#home',
        data: {
            platforms: [
                {name: '百度热榜', logoClass: 'baidu-logo', hotList: [], type: 'baidu', isLoading: true, error: false},
                {
                    name: '抖音热榜',
                    logoClass: 'douyin-logo',
                    hotList: [],
                    type: 'douyin',
                    isLoading: true,
                    error: false
                },
                {name: '知乎热榜', logoClass: 'zhihu-logo', hotList: [], type: 'zhihu', isLoading: true, error: false},
                {
                    name: 'B站热榜',
                    logoClass: 'bilibili-logo',
                    hotList: [],
                    type: 'bilibili',
                    isLoading: true,
                    error: false
                },
                {
                    name: '掘金热榜',
                    logoClass: 'juejin-logo',
                    hotList: [],
                    type: 'juejin',
                    isLoading: true,
                    error: false
                },
                {
                    name: '腾讯网热榜',
                    logoClass: 'tengxunwang-logo',
                    hotList: [],
                    type: 'tengxunwang',
                    isLoading: true,
                    error: false
                },
                {name: '贴吧热榜', logoClass: 'tieba-logo', hotList: [], type: 'tieba', isLoading: true, error: false},
                {
                    name: '头条热榜',
                    logoClass: 'toutiao-logo',
                    hotList: [],
                    type: 'toutiao',
                    isLoading: true,
                    error: false
                }
            ]
        },
        methods: {
            // 初始化函数
            init() {
                this.platforms.forEach(platform => {
                    this.loadPlatformData(platform);
                });
            },

            // 获取热榜数据
            loadPlatformData(platform) {
                const self = this;
                axios.get(`http://117.72.117.19:9782/hotSearch/queryByType/${platform.type}`)
                    .then(response => {
                        platform.hotList = response.data.data;
                        platform.isLoading = false;
                        platform.error = false;
                        console.log(`${platform.name} 数据:`, response.data.data);
                    })
                    .catch(error => {
                        platform.isLoading = false;
                        platform.error = true;
                        console.error(`获取${platform.name}数据失败`, error);
                    });
            },

            // 格式化热榜值
            formatHotValue(value) {
                if (value > 10000) {
                    return (value / 10000).toFixed(1) + '万';
                }
                return value;
            },

            // 切换主题
            toggleTheme() {
                const body = document.body;
                const themeIcon = document.getElementById('theme-icon');

                if (body.classList.contains('dark-theme')) {
                    body.classList.remove('dark-theme');
                    themeIcon.textContent = '🌞'; // 切换到太阳图标
                    // 保存主题设置到本地存储
                    localStorage.setItem('appTheme', 'light');
                } else {
                    body.classList.add('dark-theme');
                    themeIcon.textContent = '🌙'; // 切换到月亮图标
                    // 保存主题设置到本地存储
                    localStorage.setItem('appTheme', 'dark');
                }
            },
        }
    });
</script>
</body>
</html>